.masthead {
    height: 75vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.background {
    background-image: url("/assets/svg/group4.svg");
}

.card-values {
  border-radius: 2rem;
}
.text-objectives{
    width: 25vw;
}

@media screen and (min-width: 1080px){
  .masthead{
    height: 100vh;
}
}