<app-header-mobile></app-header-mobile>

<section class="masthead home background">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-5 text-center mx-auto">
                <div class="card card-values">
                    <div class="card-body">
                        <p class="text-principal">Primeiro, quero te mostrar o 5W2H, que é:</p>
                        <div class="header-mobile-bottom">
                            <div class="d-flex justify-content-around mt-2 ">
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> What ?</span>
                                </div>
                                <div class="text-center">
                                    <img src="assets/svg/seta.svg" alt="Seta para direita">
                                </div>
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> O que ?</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around mt-2 ">
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Why ?</span>
                                </div>
                                <div class="text-center">
                                    <img src="assets/svg/seta.svg" alt="Seta para direita">
                                </div>
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Porque ?</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around mt-2 ">
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Where ?</span>
                                </div>
                                <div class="text-center">
                                    <img src="assets/svg/seta.svg" alt="Seta para direita">
                                </div>
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Onde ?</span>
                                </div>
                                
                            </div>
                            <div class="d-flex justify-content-around mt-2 ">
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> When ?</span>
                                </div>
                                <div class="text-center">
                                    <img src="assets/svg/seta.svg" alt="Seta para direita">
                                </div>
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Quando ?</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around mt-2 ">
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Who ?</span>
                                </div>
                                <div class="text-center ">
                                    <img src="assets/svg/seta.svg" alt="Seta para direita">
                                </div>
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Quem ?</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around mt-2 ">
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> How ?</span>
                                </div>
                                <div class="text-center">
                                    <img src="assets/svg/seta.svg" alt="Seta para direita">
                                </div>
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> Como ?</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-around mt-2 ">
                                <div class="text-center text-objectives">
                                    <span class="text-secondary"> How much ?</span>
                                </div>
                                <div class="text-center">
                                    <img src="assets/svg/seta.svg" alt="Seta para direita">
                                </div>
                                <div class="text-center text-objectives" >
                                    <span class="text-secondary"> Quanto ?</span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-4">
                            <a class="btn btn-lg btn-home-apresentation">Avançar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-header-mobile-bottom></app-header-mobile-bottom>