<app-header-mobile></app-header-mobile>
<section>
    <div class="container">
        <div class="float-right mt-4 mb-4">
                <a routerLink="/objective" routerLinkActive="active" class="btn btn-primary btn-home-apresentation btn-lg btn-networking-float">Refazer objetivo
            </a>
        </div>
        <div class="input-group mb-3">
           
            <div class="about-networking">
                <h5><b>Acompanhamento de Objetivos </b></h5>
                <div>
                    <div class="media mt-5">
                        <img src="../../../../assets/images/step-completed.png" alt="..." class="align-self-start mr-3">
                        <div class="media-body">
                            <p class="ml-1 mb-0">Leu o e-book sobre networking</p>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="media">
                        <img src="../../../../assets/images/step-completed.png" alt="..." class="align-self-start mr-3">
                        <div class="media-body">
                            <p class="ml-1 mb-0">Estudando curso</p>
                            <span class="grey-ligth mb-5">Carga horária de 2hrs</span>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
       
    </div>
</section>
<app-header-mobile-bottom></app-header-mobile-bottom>