.masthead {
    height: 75vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grey-ligth{
    color:  rgba(0, 0, 0, 0.56);;
}
    .divider{
        height: 39px;
        border-left: 3px solid rgba(0, 0, 0, 0.12);
        margin-left: 10px;
        margin-top: 0;
    }


@media screen and (min-width: 1080px){
    h5{
        font-size: 3rem;
    }
    p{
        font-size: 1.5rem;
    }
    .media{
        align-items: center;
    }
    .media-body{
        margin-left: 45px;
    }
    .progress-bar-desktop{
        display: block;
    }
    .text-course{
        margin-top: 10px;
    }
    .img-check, .nocheck{
        width: 55px;
    }
    .divider{
        margin-left: 26px;
        margin-top: 10px;
    }
   
}