<app-header-mobile></app-header-mobile>
<section>
    <div class="container " >




        <div class="row">
            <div class="col-12 mt-3">
                <a routerLink="/mentorias" class="text-success">VOLTAR</a>
            </div>
            <div class="col-8 ">
                <p class="text-title pb-0">Lista de mentores e horários disponíveis</p>
            </div>
            <div class="col-4 mb-3">
                <div class="float-right mt-2">
                    <label for="date">Filtrar por data</label>
                    <input type="date" id="date" class="form-control">
                </div>
            </div>
        </div>


        <div class="box-list-group">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    routerLink="/mentorias/detalhes">
                    <div class="">
                        <img src="assets/svg/letter.svg" alt="..." class="align-self-start mr-3">
                        <span>Nathan Pinheiros</span>
                        <span class="mx-lg-5 text-muted">22/10 - 10h</span>
                    </div>
                    <div class="text-right">
                        <span class="mx-lg-5">#design</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    routerLink="/mentorias/detalhes">
                    <div class="">
                        <img src="assets/svg/letter.svg" alt="..." class="align-self-start mr-3">
                        <span>Sabrina Magalhães</span>
                        <span class="mx-lg-5 text-muted">22/10 - 10h</span>
                    </div>
                    <div class="text-right">
                        <span class="mx-lg-5">#design</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    routerLink="/mentorias/detalhes">
                    <div class="">
                        <img src="assets/svg/letter.svg" alt="..." class="align-self-start mr-3">
                        <span>Sabrina Magalhães</span>
                        <span class="mx-lg-5 text-muted">22/10 - 10h</span>
                    </div>
                    <div class="text-right">
                        <span class="mx-lg-5">#design</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    routerLink="/mentorias/detalhes">
                    <div class="">
                        <img src="assets/svg/letter.svg" alt="..." class="align-self-start mr-3">
                        <span>Sabrina Magalhães</span>
                        <span class="mx-lg-5 text-muted">22/10 - 10h</span>
                    </div>
                    <div class="text-right">
                        <span class="mx-lg-5">#design</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    routerLink="/mentorias/detalhes">
                    <div class="">
                        <img src="assets/svg/letter.svg" alt="..." class="align-self-start mr-3">
                        <span>Sabrina Magalhães</span>
                        <span class="mx-lg-5 text-muted">22/10 - 10h</span>
                    </div>
                    <div class="text-right">
                        <span class="mx-lg-5">#design</span>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    routerLink="/mentorias/detalhes">
                    <div class="">
                        <img src="assets/svg/letter.svg" alt="..." class="align-self-start mr-3">
                        <span>Sabrina Magalhães</span>
                        <span class="mx-lg-5 text-muted">22/10 - 10h</span>
                    </div>
                    <div class="text-right">
                        <span class="mx-lg-5">#design</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="" style="height: 100px;"></div>
</section>
<app-header-mobile-bottom></app-header-mobile-bottom>