<app-header-mobile></app-header-mobile>
<section class="masthead home background-purple">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-5 text-center mx-auto">
                <div class="card card-values">
                    <div class="card-body">
                        <p class="text-principal">Agora, você me responde...</p>
                        <p class="text-second">É rapidinho, prometo....
                            Mas você vai ter que pensar hihihihi</p>
                        <form>
                            <div class="row">
                                <div class="col">
                                    <h5>O que você quer?</h5>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col">
                                    <h5>O que te motiva?</h5>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="mt-4">
                                <a class="btn btn-lg btn-home-apresentation" routerLink="/objectiveTwo" >Avançar
                                </a>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <span>2/4</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class='box-bottom-divider'> </div>
</section>
<app-header-mobile-bottom></app-header-mobile-bottom>