.masthead {
    height: 91vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.background {
    background-image: url("/assets/svg/group4.svg");
}


.card-values {
  border-radius: 2rem;
}
.text-objectives{
    width: 25vw;
}