.masthead {
    height: 75vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @media screen and (min-width: 1080px){
    .masthead{
      height: 100vh;
  }
  }