<app-header-mobile></app-header-mobile>
<section>
    <div class="container">
        <div class="float-right mt-4 mb-4">
            <a routerLink="/login" routerLinkActive="active" class="btn btn-primary btn-lg btn-networking-float">Criar
                post
            </a>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Busque aqui" aria-label="Busque aqui"
                aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Busque aqui</button>
            </div>
        </div>
        <div class="box-list-group">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="assets/images/letter.svg" alt="..." class="align-self-start mr-3">
                    Por que vocês escolheram design?
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="assets/svg/letter.svg" alt="..." class="align-self-start mr-3">
                Qual a diferença entre UX e UI?
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <img src="assets/images/letter.svg" alt="..." class="align-self-start mr-3">
                    Por que vocês escolheram design?
                </li>
            </ul>
        </div>
    </div>
</section>
<app-header-mobile-bottom></app-header-mobile-bottom>