<section class="masthead home" >
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-5 text-center mx-auto">
          <div class="card card-values">
            <div class="card-body">
              <p class="text-secondary">E por fim...</p>
              <p class="text-principal">Parabéns, esse é só o início da sua jornada! </p>
              <p class="text-secondary">Com base nessas informações que você nos enviou já criamos seu acesso exclusivo <3</p>
              <div class="mt-4 mb-4">
                <a class="btn btn-lg btn-home-apresentation" routerLink="/perfil" 
                routerLinkActive="active" >Bora lá
                </a>
              </div>
            </div>
            <div class="card-body">
              <span>6/6</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
