<app-header-mobile></app-header-mobile>
<section>
    <div class="container">
        <div class="float-right mt-2"><img src="assets/svg/tools.svg" width="45px" alt=""></div><br>
        <div class="perfil">
            <div class="media mt-5">
                <div src="" alt="..." class="rounded-circle img-perfil align-self-start mr-3"></div>
                <div class="media-body">
                    <h5 class="mt-0"><b>Milena Fernandes Guimarães</b></h5>
                    <p>Oi!! Estou em busca da minha idependência financeira e primeira experiência!</p>
                </div>
            </div>
        </div>
        <div class="about-networking">
            <h5><b>Sobre networking</b></h5>
            <div>
                <div class="media mt-5">
                    <img src="../../../../assets/images/step-completed.png" alt="..." class="align-self-start mr-3">
                    <div class="media-body">
                        <p class="ml-1 mb-0">Leu o e-book sobre networking</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="media">
                    <img src="../../../../assets/images/step-completed.png" alt="..." class="align-self-start mr-3">
                    <div class="media-body">
                        <p class="ml-1 mb-0">Estudando curso</p>
                        <span class="grey-ligth mb-5">Carga horária de 2hrs</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card-indications mt-5">
            <h5><b>Indicações</b></h5>
            <div class="row">
                <div class="col-sm-6 ml-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Roberto Barcellos</h5>
                            <p class="card-text">Milena é uma pessoa super proativa, buscando ativamente por
                                desenvolvimento, além de sempre
                                correr da zona de conforto!
                                Uma pessoa dedicada e comprometida!</p>
                            <a href="#" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner mt-5">
                <h5><b>Indicações</b></h5>
                <div class="carousel-item active">
                    <div class="card-indications">
                        <div class="row">
                            <div class="col-sm-6 ml-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Roberto Barcellos</h5>
                                        <p class="card-text">Milena é uma pessoa super proativa, buscando ativamente por
                                            desenvolvimento, além de sempre
                                            correr da zona de conforto!
                                            Uma pessoa dedicada e comprometida!</p>
                                        <a href="#" class="text-purple">Perfil do mentor</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-item active">
                        <div class="card-indications mt-5">
                            <div class="row">
                                <div class="col-sm-6 ml-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Roberto Barcellos</h5>
                                            <p class="card-text">Milena é uma pessoa super proativa, buscando ativamente
                                                por
                                                desenvolvimento, além de sempre
                                                correr da zona de conforto!
                                                Uma pessoa dedicada e comprometida!</p>
                                            <a href="#" class="text-purple">Perfil do mentor</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-item active">
                        <div class="card-indications mt-5">
                            <div class="row">
                                <div class="col-sm-6 ml-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Roberto Barcellos</h5>
                                            <p class="card-text">Milena é uma pessoa super proativa, buscando ativamente
                                                por
                                                desenvolvimento, além de sempre
                                                correr da zona de conforto!
                                                Uma pessoa dedicada e comprometida!</p>
                                            <a href="#" class="">Perfil do mentor</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>
    <div class='box-bottom-divider'> </div>
    <div class='box-bottom-divider'> </div>
</section>
<app-header-mobile-bottom></app-header-mobile-bottom>
<script>
    $('.carousel').carousel()
</script>