.grey-ligth{
    color:  rgba(0, 0, 0, 0.56);;
}
.img-perfil{
    width: 33vw;
    height: 13vh;
    background-image: url(../../../../assets/images/persona-milena.jpg);
    background-size: cover;
    background-position: center;
}
.divider{
    height: 39px;
    border-left: 3px solid rgba(0, 0, 0, 0.12);
    margin-left: 10px;
    margin-top: 0;
}
.carousel-indicators li {
    background-color: #8826EB;
}
.carousel-indicators {
    margin-bottom: -30px;
}
.carousel-control-next-icon, .carousel-control-prev-icon   {
    display: none;
}
.text-purple{
    color: #8826EB;
}
.carousel-item {
    margin-top: -20px;
}
.progress-bar-desktop{
    display: none;
}
@media screen and (min-width: 1080px){
    .img-perfil {
        
    width: 209px;
    height: 195px;

    }
    h5{
        font-size: 3rem;
    }
    p{
        font-size: 1.5rem;
    }
    .media{
        align-items: center;
    }
    .media-body{
        margin-left: 45px;
    }
    .progress-bar-desktop{
        display: block;
    }
    .text-course{
        margin-top: 10px;
    }
    .img-check{
        width: 4%;
    }
    .divider{
        margin-left: 20px;
        margin-top: 10px;
    }
}
