<app-header-mobile></app-header-mobile>
<section>
    <div class="container">
        <div class="float-right">Editar</div><br>
        <div class="perfil">
            <div class="media mt-5">
                <div src="" alt="..." class="rounded-circle img-perfil align-self-start mr-3"></div>
                <div class="media-body">
                    <h5 class="mt-0"><b>Milena Fernandes Guimarães</b></h5>
                    <p>Oi!! Estou em busca da minha idependência financeira e primeira experiência!</p>
                </div>
            </div>
        </div>
        <div class="about-networking">
            <h5><b>Sobre networking</b></h5>
            <div>
                <div class="media mt-5">
                    <img src="../../../../assets/images/step-completed.png" alt="..." class="align-self-start mr-3">
                    <div class="media-body">
                        <p class="ml-1 mb-0">Leu o e-book sobre networking</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="media">
                    <img src="../../../../assets/images/step-completed.png" alt="..." class="align-self-start mr-3">
                    <div class="media-body">
                        <p class="ml-1 mb-0">Estudando curso</p>
                        <span class="grey-ligth mb-5">Carga horária de 2hrs</span>
                    </div>
                </div>               
            </div>
        </div>
        <div class="card-indications mt-5">
            <h5><b>Indicações</b></h5>
            <div class="row">
                <div class="col-sm-6 ml-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Roberto Barcellos</h5>
                            <p class="card-text">Milena é uma pessoa super proativa, buscando ativamente por
                                desenvolvimento, além de sempre
                                correr da zona de conforto!
                                Uma pessoa dedicada e comprometida!</p>
                            <a href="#" class="btn btn-primary">Visitar</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class='box-bottom-divider'> </div>
    <div class='box-bottom-divider'> </div>
</section>
<app-header-mobile-bottom></app-header-mobile-bottom>
