/* You can add global styles to this file, and also import other style files */
/*
 * Base structure
 */

 @font-face {
    font-family: "Rota-Regular";
    src: url(assets/fonts/Rota-Regular.otf) format("opentype");
  }
  
  @font-face {
    font-family: "Rota-Bold";
    src: url(assets/fonts/Rota-Bold.otf) format("opentype");
  }
  
  @font-face {
    font-family: "Rota-Light";
    src: url(assets/fonts/Rota-Light.otf) format("opentype");
  }
  
  @font-face {
    font-family: "Rota-Medium";
    src: url(assets/fonts/Rota-Medium.otf) format("opentype");
  }
  
  @font-face {
    font-family: "Rota-SemiBold";
    src: url(assets/fonts/Rota-SemiBold.otf) format("opentype");
  }

  html {
    height: 100%;
  }
  body {
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color: rgb(239, 242, 241);
    font-family: "Rota-regular";
    font-size: 0.9em;
  }
.box-bottom-divider{
  height: 10vh;
}
/* Buttons */

.btn-home-apresentation{
  background-color: rgb(136,38,235,1);
  padding-inline: 3rem;
  border-radius: 10px;
  color: #fff;
  border: none;
}

/* Textos */

.text-principal {
  font-family: 'Rota-Bold';
  color: black;
  font-size: 1.8rem;
}

.text-secondary {
  color: black;
  font-size: 1.1rem;
}

/* Cards */
.card-values {
  border-radius: 2rem;
}