
<section class="masthead home">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-5 text-center mx-auto">
            <div class="card card-values">
                <div class="card-body">
                    <p class="text-principal">Me diz, com o que você se identifica?</p>
                    <p class="text-secondary">O objetivo é te conhecer você para
                        entendermos com quem devemos te conectar!</p>
                    <p>Te fornecemos a ponte entre quem você era e quem você vai ser.</p>
                    <img src="assets/svg/Vector.svg" alt="">
                    <div class="mt-4 mb-4">
                        <a
                        routerLink="/signup" 
                        routerLinkActive="active"
                        class="btn btn-lg btn-home-apresentation"
                        >CADASTRE-SE
                      </a>
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>