<app-header></app-header>

<header class="masthead home">
    <div class="container h-100 ">
      <div class="row h-100 align-items-center">
        <div class="col-5 text-center mx-auto">
            <div class="card card-values">
                <div class="card-body">
                    <p class="text-principal">Antes de conectar tem que entrar!</p>
                    <p class="text-secondary">Só colocar o dados que você já cadastrou ;)</p>
                    <form class="text-left ">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@example.com.br">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Senha </label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="**********">
                        </div>
                        <div class="text-center text-">

                        <button type="submit" class="btn btn-primary btn-home-apresentation">Entrar</button>
                        </div>
                      </form>
                </div>
              </div>
        </div>
      </div>
    </div>
  </header>


<app-footer></app-footer>