
<app-header></app-header>
<section class="home masthead"><!-- Início seção home -->
    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-md-6 d-flex"><!-- Textos da seção -->
          <div class="align-self-center">
            <h1 class="display-3 text-white text-home-apresentation">Conectando pessoas e gerando oportunidades</h1>
            <p class="text-white text-home-secondary">
              Tenha acesso a mentorias, trilhas de conhecimento personalizadas, comunidades de networking e possibilidade de match com empresas que busquem o seu perfil. Tudo isso, de graça!
            </p>

            <div class="mt-4 mb-4">
                <a
                routerLink="/signup" 
                routerLinkActive="active"
                class="btn btn-primary btn-lg btn-home-apresentation"
                >CADASTRE-SE
              </a>
            </div>

          </div>
        </div><!--/fim textos da seção -->
        <div class="col-md-6 d-none d-md-block">
          <img src="assets/svg/home-background-01.svg" width="700">
        </div>
      </div>
    </div>
  </section><!--/fim seção home -->


<app-footer></app-footer>