
<app-header></app-header>
<section class="home masthead"><!-- Início seção home -->
    <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-md-6 d-flex"><!-- Textos da seção -->
          <div class="align-self-center">
            <h1 class="display-4 text-white text-home-apresentation">Chega aí e conecta</h1>
            <p class="text-white text-home-secondary">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>

            <div class="mt-4 mb-4">
                <a
                routerLink="/login" 
                routerLinkActive="active"
                class="btn btn-primary btn-lg btn-home-apresentation"
                >CADASTRE-SE
              </a>
            </div>

          </div>
        </div><!--/fim textos da seção -->
        <div class="col-md-6 d-none d-md-block">
          <img src="assets/svg/home-background-01.svg" width="700">
        </div>
      </div>
    </div>
  </section><!--/fim seção home -->


<app-footer></app-footer>