.header-mobile{
    background-color: #8826EB;
}
@media screen and (max-width: 1080px){
    .header-mobile{
        display:block;
    }
    .navbar {
        background-color: #8826EB;}
    
    .text-bold {
        font-family: 'Rota-Bold';
    }
}