<div class="fixed-bottom header-mobile-bottom">
    <div class="d-flex justify-content-around mt-2 ">


            <div class="text-center">
              <img src="assets/svg/header-icon-head.svg" alt="">
              <a
                class="nav-link text-white text-bold"
                href="https://github.com/LuisFrag/search-books/blob/master/README.md"
                target="_blank"
                >Mentoria</a
              >
            </div>
            <div class="text-center">
            <img src="assets/svg/header-icon-networking.svg" alt="">
            <a
              class="nav-link text-white text-bold"
              href="https://github.com/LuisFrag/search-books/blob/master/README.md"
              target="_blank"
              >Networking</a
            >
          </div>
            <div class="text-center">
              <img src="assets/svg/header-icon-objetivo.svg" alt="">
              <a
                class="nav-link text-white text-bold"
                routerLink="/objective"
                >Objetivo</a
              >
            </div>
            <div class="text-center">
              <img src="assets/svg/header-icon-perfil.svg" alt="">
              <a
                class="nav-link text-white text-bold"
                href="https://github.com/LuisFrag/search-books/blob/master/README.md"
                target="_blank"
                >Perfil</a>
            </div>
    </div>
</div>