<div class="fixed-bottom header-mobile-bottom">
  <div class="d-flex justify-content-around mt-2 ">
    <div class="text-center" routerLink="/mentorias">
      <img src="assets/svg/header-icon-head.svg" alt="">
      <a class="nav-link text-white text-bold" >Mentoria</a>
    </div>
    <div class="text-center" routerLink="/networking">
      <img src="assets/svg/header-icon-networking.svg" alt="">
      <a class="nav-link text-white text-bold"  >Networking</a>
    </div>
    <div class="text-center" routerLink="/objective">
      <img src="assets/svg/header-icon-objetivo.svg" alt="">
      <a class="nav-link text-white text-bold">Objetivo</a>
    </div>
    <div class="text-center" routerLink="/perfil">
      <img src="assets/svg/header-icon-perfil.svg" alt="">
      <a class="nav-link text-white text-bold" >Perfil</a>
    </div>
  </div>
</div>