.header-mobile-bottom{
    display: none;
}
@media screen and (max-width: 720px){
    .header-mobile-bottom{
        display:block;
        background-color: #8826EB;
        font-family: 'Rota-Bold';
    }
    .header-mobile-bottom-box-icon{
        width: 7vw;
    }
    .header-mobile-bottom-box-icon-text{
        color: rgba(214, 211, 203, 1);
    }

    
}