<div class="fixed-bottom header-mobile-bottom">
    <div class="d-flex justify-content-around">
        <div class="header-mobile-bottom_BoxIcon mt-2">
            <img src="../../../../assets/images/head.svg"  alt="..." class="align-self-start mr-3 header-mobile-bottom_BoxIcon_icon">
            <p class="header-mobile-bottom_BoxIcon_text"> Mentoria    </p>
        </div>
       
        <div class="header-mobile-bottom_BoxIcon mt-2">
            <img src="../../../../assets/images/network1.svg"  alt="..." class="align-self-start mr-3 header-mobile-bottom_BoxIcon_icon">
            <p class="header-mobile-bottom_BoxIcon_text"> Mentoria    </p>
        </div>
        <div class="header-mobile-bottom_BoxIcon mt-2">
            <img src="../../../../assets/images/head.svg"  alt="..." class="align-self-start mr-3 header-mobile-bottom_BoxIcon_icon">
            <p class="header-mobile-bottom_BoxIcon_text"> Mentoria    </p>
        </div>
        <div class="header-mobile-bottom_BoxIcon mt-2">
            <img src="../../../../assets/images/head.svg"  alt="..." class="align-self-start mr-3 header-mobile-bottom_BoxIcon_icon">
            <p class="header-mobile-bottom_BoxIcon_text"> Mentoria    </p>
        </div>
    </div>
</div>
